@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-orange-500: hsl(25, 97%, 53%);
    --color-white: hsl(0, 100%, 100%);
    --color-grey-500: hsl(217, 12%, 63%);
    --color-grey-900: hsl(213, 19%, 18%);
    --color-grey-850: hsl(213, 19%, 22%);
    --color-grey-910: hsl(213, 19%, 12%);
    --color-grey-950: hsl(216, 12%, 8%);

    --font-overpass: 'Overpass', sans-serif;

    /* Spacing */
    --spacing: 8px;

    --radius-sm: 5px;
    --radius-md: 15px;
    --radius-lg: 25px;


    /* Breakpoints */
    --breakpoint-sm: 375px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1440px;
}

@utility body-text {
    font-family: var(--font-overpass);
    font-size: 15px;
    font-weight: 400;
    color: var(--color-grey-500);
    line-height: 150%;
}

@utility title-text {
    font-family: var(--font-overpass);
    font-size: 18px;
    font-weight: 700;
    color: var(--color-white);
}

@utility button-text {
    font-family: var(--font-overpass);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-grey-950);
}

@layer base {
    body {
        @apply bg-grey-950 flex min-h-screen flex-col items-center justify-center p-4;
    }
}

@layer components {
    .card-container {
        @apply bg-linear-to-b from-grey-900 to-grey-910 
        flex flex-col
        gap-3 p-3
        w-full
        max-w-[350px]
        mx-auto
        rounded-md;

        &.thank-you {
            @apply items-center justify-center text-center;
        }
    }

    .text-container {
        @apply flex flex-col gap-2;
    }

    .icon {
        @apply bg-grey-850
        rounded-full
        p-1.5
        w-fit
    }

    .rating-container {
        @apply flex flex-row justify-around items-center;
    }

    .rating-button {
        @apply body-text px-2 py-1 inline-flex justify-center  bg-grey-850 items-center rounded-full;
        @apply cursor-pointer;

        &:not(.selected):hover {
            @apply bg-orange-500 text-white;
        }

        &.selected {
            @apply bg-white text-grey-950;
        }
    }

    .submit-button {
        @apply w-full bg-orange-500 button-text py-1 rounded-lg hover:bg-white cursor-pointer;
    }

    .thank-you-header {
        @apply flex flex-col items-center justify-center gap-2;
    }

    .confirmation-container {
        @apply inline-flex body-text items-center justify-center text-orange-500 rounded-lg bg-grey-850 w-fit px-2 py-1;
    }
}